In [15]:
import sqlite3

In [16]:
connection = sqlite3.connect('test.db')

In [17]:
type(connection)

sqlite3.Connection

In [18]:
con = sqlite3.connect(":memory:")

query = "Select datetime('now', 'localtime')"
cursor = con.cursor()
time = cursor.execute(query)

time.fetchone()

con.close()

# Using "With" keyword

In [19]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    query = "Select datetime('now', 'localtime')"
    data = cursor.execute(query)
data.fetchmany(1)

[('2025-03-09 16:49:31',)]

In [20]:
with sqlite3.connect("students.db") as connection:
    cursor = connection.cursor()
    query = "CREATE TABLE IF NOT EXISTS Students(fname TEXT, lname TEXT, age INT);"
    cursor.execute(query)

In [21]:
with sqlite3.connect("students.db") as connection:
    cursor = connection.cursor()
    query = "Insert into Students Values( 'Ali', 'Valiev', 22);"
    data = cursor.execute(query)

In [28]:
create = """
Create table if not exists Students(fname text, lname text, age int);
"""
insert = """
Insert into Students Values( 'Al Azamat', 'Valiev', 22);
"""
delete = """
Drop table Students
"""

In [29]:
with sqlite3.connect("studentsTest.db") as con:
    cursor = con.cursor()
    cursor.execute(create)
    cursor.execute(insert)

In [30]:
import sqlite3

conn = sqlite3.connect("studentsTest.db")
cursor = conn.cursor()

cursor.execute("SELECT * FROM Students")
rows = cursor.fetchall()

for row in rows:
    print(row)

conn.close()

('Al Azamat', 'Valiev', 22)

In [34]:
sql = """
Create table Studentlar(name text, age int);
Drop table Studentlar
Insert into Studentlar Values
("Ali", "Valiev", 22),
("George", "Ryan", 12),
"""

In [40]:
with sqlite3.connect("Studentlar.db") as conn:
    cursor = conn.cursor()
    cursor.executescript(sql)

OperationalError: near "Insert": syntax error

In [41]:
import sqlite3

conn = sqlite3.connect("studentsTest.db")
cursor = conn.cursor()

cursor.execute("SELECT * FROM Students")
rows = cursor.fetchall()

for row in rows:
    print(row)

conn.close()

('Al Azamat', 'Valiev', 22)
('Al Azamat', 'Valiev', 22)
('Al Azamat', 'Valiev', 22)
('Al Azamat', 'Valiev', 22)